{% extends 'layout.html' %}
{% block content %}
<h1 class="mb-4">Your Feed</h1>
{% if current_user.is_authenticated %}
  <!--Search bar with button-->
  <div style="margin-bottom: 15px;">
    <form action="{# url_for('recipes.recipes_search') #}" method="POST">
      <div class="input-group flex-nowrap">
        <input type="text" class="form-control" placeholder="Action Date" name="search">
        <div class="input-group-prepend">
          <button class="input-group-text" id="addon-wrapping">Search</button>
        </div>
      </div>
    </form>
  </div>
<div class="row p-0 mx-0 mb-1">
  <a class="col-4 m-0 p-0 btn btn-sm btn-success" style="border-radius:0" href="{{ url_for('recipes.friend_recipes') }}">Friend Recipes</a>
  <a class="col-4 m-0 p-0 btn btn-sm btn-success" style="border-radius:0" href="{{ url_for('recipes.public_recipes') }}">Public Recipes</a>
  <a class="col-4 m-0 p-0 btn btn-sm btn-success" style="border-radius:0" href="{{ url_for('recipes.recipes_page') }}">Your Recipes</a>
</div>
{% endif %}
{% if cards is not defined or cards|length < 1 %}  <!-- User has no friend actions -->
  <div class="card mt-4 mb-2">
    <div class="card-header p-0" id="headingMenu">
      <h5 class="mb-0">
        <button style=".collapse" class="btn btn-light btn-block" data-toggle="collapse" data-target="#collapseMenu"  aria-controls="collapseMenu">
            <a style="text-decoration:none; color: grey;" href="{% if current_user.is_authenticated %}{{ url_for('recipes.recipes_page') }}{% else %}{{ url_for('users.auth_login') }}{% endif %}">You have nothing on your feed yet.</a>
        </button>
      </h5>
    </div>
  </div>
{% else %}  <!-- User has friend actions -->
  <div class="row mx-1 my-0 py-0">
    <p class="text-muted my-2 pb-0" style="float: left;">You have {{ cards|length }} action(s) in your feed</p>
    <button class="btn btn-sm btn-secondary mb-2 col-12 d-sm-block d-md-none" style="float: right;" onClick="document.getElementById('tool').scrollIntoView();">Go to Friends List</button>
  </div>
  <!--Action Cards-->
  {% for action in cards %}
    <article class="media content-section" style="border-left-color:{{colors[action['type_']]}}; border-left-width: 5px; border-radius: 5px; border-bottom: 0; border-top: 0; border-right: 0"> <!--border-right-color-->
      <a href="{{ url_for('recipes.friend_recipes_choice', friend=action['user_id']) }}">
        <img class="rounded-circle account-img mb-0 mr-0" style="width:85px; height: 85px" src="{{ url_for('static', filename='profile_pics/' + friend_dict[action['user_id']].image_file) }}">
      </a>
      <div class="media-body ml-4 row">
        <div class="col-8 my-auto py-auto">
          <p style="font-size: 18px;" class="m-0"><a style="font-size: 20px;" href="{{ url_for('recipes.friend_recipes_choice', friend=action['user_id']) }}">@{{ friend_dict[action['user_id']].username }}</a> {{ action['content']|safe }}
        </div>
        <div class="text-muted col-4" style="">
            {{ action['date_created'].strftime('%Y-%m-%d %H:%M') }}
        </div>
      </div>
    </article>
  {% endfor %}
{% endif %}
<button class="btn btn-sm btn-secondary mb-4 col-12" id="tool" style="float: right;" onClick="document.getElementById('top').scrollIntoView();">Go to Top</button>
{% if friend_acts %}
  {% for page_num in friend_acts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
    {% if page_num %}
      {% if friend_acts.page == page_num %}
        <a class="btn btn-success mb-4" href="{{ url_for('recipes.friend_feed', page=page_num, friend=friend) }}">{{ page_num }}</a>
      {% else %}
        <a class="btn btn-outline-success mb-4" href="{{ url_for('recipes.friend_feed', page=page_num, friend=friend) }}">{{ page_num }}</a>
      {% endif %}
    {% else %}
      ...
    {% endif %}
  {% endfor %}
{% endif %}
{% endblock content %}

