{% extends 'layout.html' %}
{% block content %}

<article class="media content-section">
    {{ form1.hidden_tag() }}
    <form action="" method="POST" class="m-2">
        {{ form1.hidden_tag() }}
        <fieldset>
        <!--First Section-->
        <div class="row mb-2">

            <div class="input-group col-4 row m-0 p-0">
                <p class="col-12">Recipe Group Weights</p>
                <div class="input-group col-12 m-0 p-0 row">
                    <div class="col-12">
                        <textarea rows="2" class="form-control" readonly>Current Pair Weights:&#013;{{ tastes }}</textarea>
                    </div>
                    <div class="col-12">
                        {{ form2.pairs(class="custom-select") }}
                    </div>
                    <div class="col-12">
                        {{ form2.pair_weight(class="custom-select") }}
                    </div>
                </div>
            </div>

            <div class="input-group col-4 row m-0 p-0">
                <p class="col-12">Ingredient Weight</p>
                {% if items|length > 0  %}
                        {% set items = items|join(', ') %}
                {% else %}
                    {% set items = '' %}
                {% endif %}
                <div class="input-group m-0 p-0 row">
                    <div class="col-12">
                        <textarea rows="2" class="form-control" readonly>Current Weights:&#013;{{ ing_weights }}</textarea>
                    </div>
                    <div class="col-12">
                        {{ form2.ingredient(class="custom-select") }}
                    </div>
                    <div class="col-12">
                        {{ form2.ingredient_weights(class="custom-select") }}
                    </div>
                </div>
            </div>

            <div class="input-group col-4 row m-0 p-0">
                <p class="col-12">Sticky Weights</p>
                <div class="input-group m-0 p-0">
                    <div class="col-12">
                        <textarea rows="2" class="form-control" readonly>Current Weights:&#013;{{ sticky_weights }}</textarea>
                    </div>
                    <div class="col-12">
                        {{ form2.ingredient2(class="custom-select") }}
                    </div>
                    <div class="col-12">
                        {{ form2.sticky_weights(class="custom-select") }}
                    </div>
                </div>
            </div>

        </div>
        <!--Second section-->
        <div class="mt-3 mb-2 row">

            <div class="input-group col-6">
                <p>Ingredient Excludes</p>
                <div class="input-group mb-2 row">
                    <div class="col pr-1">
                        {{ form2.ingredient_ex(class="custom-select", size=5) }}
                    </div>
                    <div class="col pl-1 pr-0">
                        {{ form2.ingredient_rem(class="custom-select", size=5) }}
                    </div>
                </div>
            </div>

            <div class="input-group mb-2 col-6">
                <p>Recipes to Exclude</p>
                <div class="input-group">
                    {{ form1.excludes(class="custom-select", size=5) }}
                </div>
            </div>
        </div>
        <!--Third Section-->
        <div class="row mb-3">
            <div class="input-group col-2 mr-0 ">
                <p>Num Group</p>
                <div class="input-group">
                    {{ form1.groups(class="custom-select") }}
                </div>
            </div>
            <div class="input-group col-2 ">
                <p>Max Sim</p>
                <div class="input-group">
                    {{ form1.similarity(class="custom-select") }}
                </div>
            </div>
            <div class="input-group col-2 ">
                 <p>Recommends</p>
                 <div class="input-group">
                     {{ form2.recommend_num(class="custom-select") }}
                 </div>
            </div>
            <div class="input-group col-2 ">
                 <p>History Ex</p>
               <div class="input-group">
                 {{ form2.history_exclude(class="custom-select") }}
               </div>
            </div>
            <div class="input-group col-2">
                 <p>Mode</p>
               <div class="input-group">
                 {{ form2.algorithm(class="custom-select") }}
               </div>
            </div>
            <div class="input-group col-2 ">
                 <p>Scoring</p>
                 <div class="input-group">
                    {{ form2.modifier(class="custom-select") }}
                 </div>
            </div>
        </div>
    {{ form1.submit(class="btn btn-success btn-sm btn-block mt-3") }}
    </fieldset>
    </form>
</article>

<h3 class="mt-4">Recommendations</h3>
{% endblock content %}

