{% extends 'layout.html' %}
{% block content %}
<body>
  <div class="">  <!--content-section-->
  {% if username %}
    <h1 class="mb-3">{{ username }}'s Dashboard</h1>
  {% else %}
    <h1 class="mb-3">Dashboard</h1>
  {% endif %}
    <div style="margin-bottom:20px;">
      <h3 style="display:inline;">Menu Items</h3>
      {% if current_user.is_authenticated %}
        <button style="float:right;box-shadow: 0 11px 5px -8px rgba(150, 170, 180, 0.5)" class="btn btn-outline-danger btn-sm" data-toggle="modal" data-target="#deleteModal">Clear Menu</button>
      {% else %}
        <button style="float:right;box-shadow: 0 11px 5px -8px rgba(150, 170, 180, 0.5)" class="btn btn-outline-danger btn-sm">Clear Menu</button>
      {% endif %}
    </div>
      <!--Accordion Menu List-->
      {% set all_eaten = namespace(value=0) %}
      <div id="accordion" class="my-3" style="box-shadow: 0 11px 30px -8px rgba(150, 170, 180, 0.5)">
        {% if menu_recipes[0] is not defined and menu_recipes[0] != '' %} <!--If there is nothing on the menu-->
          <div class="card">
            <div class="card-header p-0" id="headingMenu">
              <h5 class="mb-0">
                {% if current_user.is_authenticated %}
                  <button style=".collapse" class="btn btn-light btn-block" data-toggle="collapse" data-target="#collapseMenu"  aria-controls="collapseMenu">
                    <a style="text-decoration:none; color: grey;" href="{{ url_for('recipes.recipes_page') }}">There is nothing on your menu yet. Click to add a recipe.</a>
                  </button>
                {% else %}
                  <button style=".collapse" class="btn btn-light btn-block" data-toggle="collapse" data-target="#collapseMenu"  aria-controls="collapseMenu">
                    <a style="text-decoration:none; color: grey;" href="{{ url_for('users.auth_login') }}">Login to add to your menu.</a>
                  </button>
                {% endif %}
              </h5>
            </div>
          </div>
          {% else %}
            {% for recipe in menu_recipes %}
                <div class="card">
                  <!--Button-->
                  <div class="card-body bg-success p-0" id="{{ recipe.id }}">
                    <h5 class="mb-0">
                      {% set set_eaten = 'success' %}
                      {% if borrowed[recipe.id] is defined %} <!-- Recipe is borrowed and is eaten -->
                        {% if borrowed[recipe.id] %}
                          {% set set_eaten = 'secondary' %}
                          {% set all_eaten.value = all_eaten.value + 1 %}
                        {% endif %}
                      {% else %}
                        {% if recipe.eaten %}
                          {% set set_eaten = 'secondary' %}
                          {% set all_eaten.value = all_eaten.value + 1 %}
                        {% endif %}
                      {% endif %}
                      <button style=".collapse" class="btn btn-{{ set_eaten }} btn-block pl-0;" data-toggle="collapse" data-target="#collapse{{ recipe.id }}"  aria-controls="collapse{{ recipe.id }}">
                        {{ recipe.title }}
                      </button>
                    </h5>
                  </div>
                  <!--Recipe Info section-->
                  <div id="collapse{{ recipe.id }}" class="collapse" aria-labelledby="heading{{ recipe.id }}" data-parent="#accordion">
                    <div class="card-body ml-4">
                      <div class="border-bottom mr-3 mb-1 pb-1 pt-0">
                        <a href="{{ url_for('recipes.recipe_single', recipe_id=recipe.id) }}">Ingredients:</a>
                        <button class="btn btn-sm btn-outline-secondary pb-0 pt-0 pl-3 pr-3 eatenButton" style="float:right;" e_id="{{ recipe.id }}">Eaten</button>
                      </div>
                      <p class="mb-2" style="font-size: 14px;">{{ recipe.quantity|join(', ') }}</p>
                    </div>
                  </div>
                </div>
            {% endfor %}
          {% endif %}
      </div>
    <div class="content-section mt-4 mb-3">
       <!--Grocery list section WEB-->
       <div class="mb-3 mt-2 border-bottom pb-3 d-none d-md-block d-lg-block d-xl-block">
        <h3 style="margin: 40px 0 20px 0; display:inline;">Grocery List</h3>
       {% if current_user.is_authenticated %}
           <button style="float: right; display:inline;" class="btn btn-outline-danger btn-sm ml-2" data-toggle="modal" data-target="#deleteModal2">Clear Extras</button>
           <form action="{{ url_for('main.add_to_extras') }}" style="float:right; display:inline;">
               <button class="btn btn-outline-success btn-sm" >Add Extras</button>
           </form>
       {% else %}
           <form action="#" style="float: right; display:inline;">
               <button class="btn btn-outline-danger btn-sm ml-2">Clear Extras</button>
           </form>
           <form action="#" style="float: right; display:inline;">
               <button class="btn btn-outline-success btn-sm" >Add Extras</button>
           </form>
       {% endif %}
      </div>
       <!--Grocery list section MOBILE-->
      <div class="mb-3 d-block d-sm-none row">
        <h3 class="col-12 mt-2 mb-2 text-center">Grocery List</h3>
        {% if current_user.is_authenticated %}
          <div class="border-bottom pb-1 col-12 justify-content-center d-flex">
            <form class="mb-2" action="{{ url_for('main.add_to_extras') }}">
                <button class="btn btn-outline-success btn-sm">Add Extras</button>
            </form>
            <form class="ml-2">
                <button class="btn btn-outline-danger btn-sm" data-toggle="modal" data-target="#deleteModal2">Clear Extras</button>
            </form>
          </div>
        {% else %}
          <div class="border-bottom pb-1 col-12 justify-content-center d-flex">
            <form class="mb-2" action="#">
               <button class="btn btn-outline-success btn-sm">Add Extras</button>
            </form>
            <form class="ml-2" action="#">
               <button class="btn btn-outline-danger btn-sm">Clear Extras</button>
            </form>
          </div>
        {% endif %}
      </div>
        {% if aisles %} <!-- User has aisles -->
          {% set index = namespace(value=groceries|length) %}
          {% for key in groceries %}
            {% if index.value == 1 and groceries[key]|length < 1 %} <!-- If all aisles don't have grocery items -->
              <ul class="mt-3 mb-4 pb-2">
                <li>There's nothing on your grocery list yet.</li>
              </ul>
            {% else %}
              {% if groceries[key]|length < 1 %}  <!-- No ingredients in aisle -->
                {% set index.value = index.value - 1 %}
              {% endif %}
              {% if groceries[key] %}  <!-- If aisle has grocery ingredients -->
                <h5 class="m-0">{{ key }}</h5>  <!-- Aisle name -->
                <ul class="mt-2 mb-3 ml-1" style="line-height: 25px;">
                  {% for item in groceries[key] %}
                    {% if item[-1] == 1 %} <!--Are they struck out or not-->
                      <s>
                        <li class="groceries text-muted" style="text-decorator-color: text-muted; cursor: pointer;" strike="{{ item[-1] }}" itemid="{{ item[0] }}, {{ item[1].unit }}">{{ item[0] }}
                          <i style="font-size: 14px;">{{ item[1].value }} {{ item[1].unit.lower() }}{% if item[1].value != 1 %}s{% endif %}</i>
                        </li>
                      </s>
                    {% else %}
                      <li class="groceries" style="cursor: pointer;" strike="{{ item[-1] }}" itemid="{{ item[0] }}, {{ item[1].unit }}">{{ item[0] }}
                         <i style="font-size: 14px;">{{ item[1].value }} {{ item[1].unit.lower() }}{% if item[1].value != 1 %}s{% endif %}</i>
                      </li>
                    {% endif %}
                 {% endfor %}
                </ul>
              {% endif %}
            {% endif %}
          {% endfor %}
        {% else %} <!-- User doesn't have aisles -->
          {% set index = namespace(value=groceries|length) %}
          {% for key in groceries %}
            {% if index.value == 1 and groceries[key]|length < 1 %}
              <ul class="mt-3 mb-4 pb-2"><li>There's nothing on your grocery list yet.</li></ul>
            {% else %}
              {% if groceries[key]|length < 1 %}
                {% set index.value = index.value - 1 %}
              {% endif %}
              <ul class="mt-2 mb-4 ml-1" style="line-height: 25px;">
                {% for item in groceries[key] %}
                  {% if item[-1] == 1 %}
                    <s><li class="groceries text-muted" style="text-decorator-color: text-muted;" strike="{{ item[-1] }}" itemid="{{ item[0] }}, {{ item[1].unit }}">{{ item[0] }}
                      <i style="font-size: 14px;">{{ item[1].value }} {{ item[1].unit.lower() }}{% if item[1].value != 1 %}s{% endif %}</i>
                    </li></s>
                  {% else %}
                    <li class="groceries" strike="{{ item[-1] }}" itemid="{{ item[0] }}, {{ item[1].unit }}">{{ item[0] }}
                      <i style="font-size: 14px;">{{ item[1].value }} {{ item[1].unit.lower() }}{% if item[1].value != 1 %}s{% endif %}</i>
                    </li>
                  {% endif %}
                {% endfor %}
              </ul>
            {% endif %}
          {% endfor %}
          {% if not current_user.is_authenticated %}
            <ul class="mt-2 mb-4 ml-1">
               <li>Login to make a grocery list.</li>
            </ul>
          {% endif %}
        {% endif %}
      </div>
  </div>
</body>
<!-- Modal to clear menu-->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      {% if all_eaten.value == menu_recipes|length%}
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">Clear All Menu Items?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      <div class="modal-footer">
        <p class="text-muted">Clearing also saves these recipes into your recipe history permanently.
           You can remove them from the Recipe page instead if you didn't eat these recipes.
        </p>
        <button type="button" class="btn btn-secondary ml-3" data-dismiss="modal">Close</button>
        <form action="{{ url_for('main.clear_menu') }}" method="POST">
          <input class="btn btn-danger" type="submit" value="Delete">
        </form>
      </div>
      {% else %}
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">You Must Eat All Menu Recipes!</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-footer">
          <p class="text-muted">Clearing also saves these recipes into your recipe history.
             You can remove them from the Recipe page instead if you didn't eat these recipes. Then try clearing again.
          </p>
          <button type="button" class="btn btn-secondary ml-3" data-dismiss="modal">Close</button>
        </div>
      {% endif %}
    </div>
  </div>
</div>

<!-- Modal to clear extras-->
<div class="modal fade" id="deleteModal2" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel2" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel2">Clear All Extras?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-footer">
        <p class="text-muted"></p>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <form action="{{ url_for('main.clear_extras') }}" method="POST">
          <input class="btn btn-danger" type="submit" value="Delete">
        </form>
      </div>
    </div>
  </div>
  </div>
{% endblock content %}
