<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    {% if title %}
        <title>Grocery Store Hero - {{ title }}</title>
    {% else %}
        <title>Grocery Store Hero</title>
    {% endif %}
</head>
<body>
    <header class="site-header d-none d-md-block d-lg-block d-xl-block">
        <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
            <div class="container">
                <!-- The hamburger menu? -->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarToggle">
                    <div class="navbar-nav mr-auto">
                        <a class="nav-item nav-link" href="{{ url_for('main.home') }}">Grocery Hero</a>
                        <a class="nav-item nav-link" href="{{ url_for('pantry.pantry_page') }}">Pantry</a>
                        <a class="nav-item nav-link" href="{{ url_for('recipes.recipes_page') }}">Recipes</a>
                        <a class="nav-item nav-link" href="{{ url_for('aisles.aisles_page') }}">Aisles</a>
                        <a class="nav-item nav-link" href="{{ url_for('main.about') }}">About</a>
                    </div>
                    <!-- Navbar Right Side -->
                    <div class="navbar-nav">
                        {% if current_user.is_authenticated %}
                            {% if current_user.recipes|length <=80 %}
                                <a class="nav-item nav-link" href="{{ url_for('recipes.new_recipe') }}">New Recipe</a>
                            {% else %}
                                <a class="nav-item nav-link" href="{{ url_for('users.account') }}">Upgrade</a>
                            {% endif %}
                            <a class="nav-item nav-link" href="{{ url_for('aisles.new_aisle') }}">New Aisle</a>
                            <a class="nav-item nav-link" href="{{ url_for('main.about') }}">New Shelf</a> <!--todo correct url_for-->
                            <a class="nav-item nav-link" href="{{ url_for('users.account') }}">Account</a>
                            <a class="nav-item nav-link" href="{{ url_for('users.logout') }}">Logout</a>
                        {% else %}
                            <a class="nav-item nav-link" href="{{ url_for('users.login') }}">Login</a>
                            <a class="nav-item nav-link" href="{{ url_for('users.register') }}">Register</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <!--Mobile Navbar Top-->
    <nav class="navbar navbar-dark bg-steel fixed-top site-header d-sm-none row mx-auto navbar-expand">
        <div class="navbar-nav col p-0">
            {% if current_user.is_authenticated %}
                {% if current_user.recipes|length <=80 %}
                    <a class="nav-item nav-link col-sm text-center" href="{{ url_for('recipes.new_recipe') }}"><img src="{{ url_for('static', filename='icons/add_recipes.png')  }}" height="35px" width="35px"></a>
                {% else %}
                    <a class="nav-item nav-link col-sm text-center" href="{{ url_for('users.account') }}">Upgrade</a>
                {% endif %}
                <a class="nav-item nav-link col-sm text-center" href="{{ url_for('aisles.new_aisle') }}"><img src="{{ url_for('static', filename='icons/add_aisles.png')  }}" height="35px" width="35px"></a>
                <a class="nav-item nav-link col-sm text-center" href="{{ url_for('main.about') }}"><img src="{{ url_for('static', filename='icons/add_pantry.png')  }}" height="35px" width="35px"></a> <!--todo correct url_for-->
                <a class="nav-item nav-link col-sm text-center" href="{{ url_for('main.about') }}"><img src="{{ url_for('static', filename='icons/about.png')  }}" height="35px" width="35px"></a>
                <a class="nav-item nav-link col-sm text-center" href="{{ url_for('users.logout') }}"><img src="{{ url_for('static', filename='icons/logout.png')  }}" height="35px" width="35px"></a>
            {% else %}
                <a class="nav-item nav-link col-sm text-center" href="{{ url_for('users.login') }}">Login</a>
                <a class="nav-item nav-link col-sm text-center" href="{{ url_for('users.register') }}">Register</a>
            {% endif %}
        </div>
    </nav>
    <main role="main" class="container" id="top">
        <div class="row">
            <div class="col-md-8">
                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}   <!-- todo Have flashed items auto-close-->
                        <div class="alert alert-{{ category }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
                {% endwith %}
                {% block content %}{% endblock content %}
            </div>
            {% if sidebar %}
            <div class="col-md-4 mb-4 pb-4">
                <div class="content-section">
                    {% if about is defined %}
                        <h3>GroceryStoreHero</h3>
                        <p class='text-muted border-bottom pb-2'>By Alejandro Almaraz</p>
                        <h4>Consider Donating</h4>
                        <a href="https://venmo.com/Alejandro-Almaraz">Venmo</a><br>
                        <a href="https://paypal.me/Almaraz103">Paypal</a><br>
                        <a href="#">Bitcoin Address: </a><br><p style="font-size:14px;" class="mb-0">38UaNkMKJY9UmVqMwy6beDNicba<br>RdTUycL</p>
                        <a href="#">Ethereum Address:</a><br><p style="font-size:14px;">0x907156AF1ba3461eC4B8702C<br>c9cB27818615aA5b</p>
                    {% elif account is defined %}
                        <h3 class='border-bottom pb-2'>Your Files</h3>
                        <form method="POST" action="" enctype="multipart/form-data">
                            {{ form2.hidden_tag() }}
                            <fieldset class="form-group mb-0">
                                <h4 class="mt-2 mb-2">Import</h4>
                                <div class="form-group mb-1">
                                    {{ form2.file_name(class="form-control-file") }}
                                    {% if form2.file_name.errors %}
                                        {% for error in form2.file_name.errors %}
                                            <span class="text-danger">{{ error }}</span></br>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </fieldset>
                            <div class="form-group mt-1">
                                {{ form2.import_recipes_button(class="btn btn-outline-info") }}
                                {{ form2.import_aisles_button(class="btn btn-outline-info") }}
                            </div>
                        </form>
                        <form method="POST" action="{{ url_for('users.export') }}" enctype="multipart/form-data">
                            <h4 class="mt-3 mb-2">Download</h4>
                            <fieldset class="form-group">
                                <input class="btn btn-outline-info" type="submit" value="Recipes" name="export">
                                <input class="btn btn-outline-info" type="submit" value="Aisles" name="export">
                            </fieldset>
                        </form>
                    {% elif aisle is defined %}
                        <h3 class=''>Un-added Ingredients</h3>
                        <p class='text-muted border-bottom pb-2'>Give your ingredients a home and your grocery list will be sorted for you.</p>
                        <!--Form adds unadded aisle items-->
                            {{ form.hidden_tag() }}
                            <form action="" method="POST">
                                <fieldset>
                                    {{ form.unadded.label(class="form-control-label") }}
                                    {{ form.unadded(class="custom-select") }}
                                    {{ form.aisles.label(class="form-control-label mt-3") }}
                                    {{ form.aisles(class="custom-select") }}
                                </fieldset>
                                {{ form.submit(class="btn btn-success btn-sm btn-block mt-4 mb-3") }}
                            </form>
                    {% elif home is defined %}
                        <h3 class="">Dashboard Statistics</h3>
                        <p class='text-muted border-bottom pb-2'>May the numbers be on your side and the savings plentiful!</p>
                        <h4>Menu</h4>
                        <ul>
                            {% if menu_recipes|length == 1 %}
                                <li class='text-muted mb-2'>You have {{ menu_recipes|length }} recipe on your menu</li>
                            {% else %}
                                <li class='text-muted mb-2'>You have {{ menu_recipes|length }} recipes on your menu</li>
                            {% endif %}
                            {% if harmony_score is defined %}
                                <li class='text-muted mb-2'>Your menu has a Harmony Score of {{ harmony_score }}%</li>
                            {% endif %}
                        </ul>
                        <h4 class="mt-3">Grocery List</h4>
                        {% if groceries is defined %}
                            {% set index = namespace(value=0) %}
                            {% for key in groceries %}
                                {% for item in groceries[key] %}
                                    {% set index.value = index.value + 1 %}
                                {% endfor %}
                            {% endfor %}
                            <ul>
                                <li class='text-muted mt-0 mb-2'>You have {{ index.value }} items on your grocery list</li>
                                <li class='text-muted mt-0'>{{ overlap }} recipe ingredient{% if overlap < 2 %}s{% endif %} overlapped</li>
                            </ul>
                        {% endif %}
                        <h4 class="mt-3"><a href="{{ url_for('main.stats') }}">Miscellaneous</a></h4>
                        {% if statistics is defined %}
                            <ul class='text-muted mt-0 mb-2'>
                                <li class='text-muted mt-0'>Most eaten recipe: {{ statistics[0][0] }} ({{ statistics[0][1] }})</li>
                                <li class='text-muted mt-0'>Least eaten recipe: {{ statistics[1][0] }} ({{ statistics[1][1] }})</li>
                                <li class='text-muted mt-0'>Most used ingredient: {{ statistics[2][0] }} ({{ statistics[2][1] }})</li>
                                <li class='text-muted mt-0'>Least used ingredient: {{ statistics[3][0] }} ({{ statistics[3][1] }})</li>
                            </ul>
                        {% endif %}
                    {% elif pantry is defined %}
                    <h3>Add Items to Pantry</h3>
                        <p class='text-muted border-bottom pb-2'>Clearing your menu updates your pantry. Add items that will get many uses here.</p>
                        <!--Form adds unadded aisle items-->
                            {{ form.hidden_tag() }}
                            <form action="" method="POST">
                                <fieldset>
                                    {{ form.name.label(class="form-control-label") }}
                                    {{ form.name(class="custom-select") }}
                                    {{ form.content.label(class="form-control-label mt-3") }}
                                    {{ form.content(class="custom-select") }}
                                    {{ form.ingredient_quantity.label(class="form-control-label mt-3") }}
                                    {{ form.ingredient_quantity(class="form-control") }}
                                    {{ form.ingredient_type.label(class="form-control-label mt-3") }}
                                    {{ form.ingredient_type(class="custom-select") }}
                                </fieldset>
                                {{ form.submit(class="btn btn-success btn-sm btn-block mt-4 mb-3") }}
                            </form>
                    {% elif harmony %}
                        <h3>Full Harmony Tool</h3>
                        <p class='text-muted border-bottom pb-2'>Settings won't save here but you can see how they affect recommendations.</p>
                        <!--Recipe cards-->
                        {% if recommended is not none %}
                            {% set index = namespace(value=1) %}
                            {% for group in recommended %}
<!--                                <article class="media content-section m-0 p-0">-->
                                    <div class="media-body">
                                        <p class="mb-0 ml-2" style="float:inline; text-decoration:underline;">Recommendation {{ index.value }} -> {{ recommended[group] }}%</p>
                                        {% set index.value = index.value + 1 %}
                                        <ul class="mb-0">
                                            {% for recipe in group %}
                                                <li class="my-0 py-0">{{ recipe }}</li>
                                            {% endfor %}
                                        </ul>
                                    </div>
<!--                                </article>-->
                            {% endfor %}
                        {% else %}
                        No recommendations yet.
                        {% endif %}
                    {% else %}
                    <h3>Recipe Harmony Tool<a href="{{ url_for('main.harmony_tool') }}">™</a></h3>
                        <p class='text-muted border-bottom pb-2'>The recommendation system that will save you time and money.</p>
                            {{ form.hidden_tag() }}
                            <!--Form which updates User JSON and reloads page-->
                            <form action="{{ url_for('recipes.recipes_page') }}" method="POST">
                                {{ form.hidden_tag() }}
                                <fieldset>
                                    <!--Drop down Groups-->
                                    <div class="input-group mb-2">
                                        {{ form.groups.label(class="form-control-label") }}
                                        <div class="input-group mb-2">
                                            {{ form.groups(class="custom-select") }}
                                        </div>
                                    </div>
                                    <!--Drop down Exclude -->
                                    <div class="input-group mb-2">
                                        {{ form.excludes.label(class="form-control-label") }}
                                        <div class="input-group mb-2">
                                            {{ form.excludes(class="custom-select") }}
                                        </div>
                                    </div>
                                    <div class="input-group mb-2">
                                        <!--Drop down Similarity-->
                                        {{ form.similarity.label(class="form-control-label") }}
                                        <div class="input-group mb-2">
                                            {{ form.similarity(class="custom-select") }}
                                        </div>
                                    </div>
                                </fieldset>
                                <div>
                                    {{ form.submit(class="btn btn-success btn-sm btn-block mt-2") }}
                                </div>
                            </form>
                            {% if combos is defined %}
                                <p class='text-muted mb-2 mt-3 pt-1 border-top' style="text-align: center;">{{combos}} combinations were evaluated</p>
                            {% endif %}
                            <!-- Recommendations -->
                            {% if recommended %}
                                <!-- Multi-select Recipes -->
                                {% if (recommended.keys()|first)|length < 2 %}
                                    <form action="{{ url_for('recipes.multi_add_to_menu', multi=True) }}" method="POST">
                                        <select multiple class="form-control mt-3" name="harmony">
                                            <option value="">-- select options (clt+click) --</option>
                                            {% for recipe in recommended %}
                                                <option value="{{ recipe_ids[recipe[0]] }}">{{ recipe[0] }} {{ recommended[recipe] }}%</option>
                                            {% endfor %}
                                        </select>
                                        <button class="btn btn-success btn-block btn-sm mt-3 mb-2">Add to Menu</button>
                                    </form>
                                {% else %}
                                    <!--Accordion recipe recommendations-->
                                    <div id="accordion">
                                        {% set index = namespace(value=1) %}
                                        {% for group in recommended %}
                                            <div class="card mb-2">
                                                <div class="card-header p-0" id="heading{{ index.value }}">
                                                    <h5 class="mb-0">
                                                        <button class="btn btn-light btn-block btn-lrg" data-toggle="collapse" data-target="#collapse{{ index.value }}"  aria-controls="collapse{{ index.value }}">
                                                            Recommendation {{ index.value }} | Score: {{ recommended[group] }}%
                                                        </button>
                                                    </h5>
                                                </div>
                                                    <div id="collapse{{ index.value }}" class="card-block collapse" aria-labelledby="heading{{ index.value }}" data-parent="#accordion">
                                                        <div class="card-body-harmony mt-3">
                                                            <ul style="font-size: 14px;" class="mb-2">
                                                                {% set ids = [] %}
                                                                {% for recipe in group %}
                                                                    {% set ids = ids.append(recipe_ids[recipe]) %}
                                                                {% endfor %}
                                                                {% for recipe in group %}
                                                                    {% if recipe is defined and recipe|length > 0 %}
                                                                        <li class="mt-1 mb-0"><a href="{{ url_for('recipes.multi_add_to_menu2',ids=ids) }}">{{ recipe }}</a></li>
                                                                    {% endif %}
                                                                {% endfor %}
                                                            </ul>
                                                            <div class="mx-5 mb-2 pt-0 ">
                                                                <button class="m-0 p-0 btn-block btn btn-sm btn-outline-danger" data-toggle="modal" data-target="#deleteModal3">Too similar</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                            </div>
                                            {% set index.value = index.value + 1 %}
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            {% endif %}
                    {% endif %}
                </div>
            </div>
            {% endif %}
        </div>
        <!--Mobile Navbar Bottom-->
        <nav class="navbar navbar-dark bg-steel fixed-bottom site-header d-sm-none navbar-expand row mx-auto">
            <div class="navbar-nav col p-0"> <!--mr-auto-->
                <a class="nav-item nav-link col-sm text-center" style="float:inline" href="{{ url_for('main.home') }}"><img src="{{ url_for('static', filename='icons/home.png')  }}" height="35px" width="35px"></a>
                <a class="nav-item nav-link col-sm text-center" style="float:inline" href="{{ url_for('pantry.pantry_page') }}"><img src="{{ url_for('static', filename='icons/pantry.png')  }}" height="35px" width="35px"></a>
                <a class="nav-item nav-link col-sm text-center" style="float:inline" href="{{ url_for('recipes.recipes_page') }}"><img src="{{ url_for('static', filename='icons/recipes.png')  }}" height="35px" width="35px"></a>
                <a class="nav-item nav-link col-sm text-center" style="float:inline" href="{{ url_for('aisles.aisles_page') }}"><img src="{{ url_for('static', filename='icons/aisles.png')  }}" height="35px" width="35px"></a>
                {% if current_user.is_authenticated %}
                    <a class="nav-item nav-link col-sm text-center" href="{{ url_for('users.account') }}"><img src="{{ url_for('static', filename='icons/account.png')  }}" height="35px" width="35px"></a>
                {% endif %}
            </div>
        </nav>
            <!-- Modal to clear extras-->
    <div class="modal fade" id="deleteModal3" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel3" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="deleteModalLabel3">How similar are these?</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-footer">
                <p class="text-muted"></p>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <form action="#" method="POST">  <!--todo have url_for here -->
                <input class="btn btn-danger" type="submit" value="Delete">
              </form>
            </div>
          </div>
        </div>
      </div>
</main>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='main.js') }}"></script>
</body>
</html>
