{% extends 'layout.html' %}
{% block content %}
<div class="mb-4">
    <h1 style="display: inline">Your {{ title }}</h1>
    <a style="display: inline; float:right" class="btn btn-sm btn-info mt-2" href="{{ url_for('pantry.new_shelf') }}">New Shelf</a>
</div>
  <div class="content-section pl-3">
    <!-- <div class="mb-4 d-none d-md-block d-lg-block d-xl-block">-->
    <div class="mb-4">
      <h4 style="display:inline;">Shelves</h4>
      <div style="float:right" class="justify-content-right d-flex"> {# The two buttons #}
        <a class="btn btn-outline-success btn-sm mr-2" href="{{ url_for('pantry.add_to_shelf') }}">Add To</a>
        <form action="{{ url_for('pantry.delete_shelf') }}">
            <button class="btn btn-outline-danger btn-sm">Delete Shelf</button>
        </form>
      </div>
    </div>
{#      <!-- </div>-->#}
{#      <!-- Shelves section MOBILE-->#}
{#      <!-- <div class="mb-3 d-block d-sm-none row">-->#}
{#      <!-- <h3 class="col-12 mt-2 mb-2 text-center">Pantry Shelves</h3>-->#}
{#      <!-- <div class="border-bottom pb-1 col-12 justify-content-center d-flex">-->#}
{#      <!-- <form class="mb-2" action="#">-->#}
{#      <!--     <button class="btn btn-outline-success btn-sm">Add Shelf</button>-->#}
{#      <!-- </form>-->#}
{#      <!-- <form class="ml-2" action="#">-->#}
{#      <!--     <button class="btn btn-outline-danger btn-sm">Clear Shelves</button>-->#}
{#      <!-- </form>-->#}
{#      <!--   </div>-->#}
{#      <!--  </div>-->#}
      {% if shelves|length < 1 %}
        <div class="card my-3">
          <div class="card-header p-0" id="headingMenu">
            <h5 class="mb-0">
              <button style=".collapse" class="btn btn-light btn-block" data-toggle="collapse" data-target="#collapseMenu"  aria-controls="collapseMenu">
                {% if current_user.is_authenticated %}
                  <a style="text-decoration:none; color: grey;" href="{{ url_for('pantry.new_shelf') }}">You have no shelves yet. Click to add a shelf.</a>
                {% else %}
                   <a style="text-decoration:none; color: grey;" href="{{ url_for('users.login') }}">You have no shelves yet. Login to add an shelf.</a>
                {% endif %}
              </button>
            </h5>
          </div>
        </div>
      {% else %}
        <div class="mb-3">
        {% for shelf in shelves %}
          <div class="card">
            <!--Button-->
            <div class="card-body bg-success p-0" id="{{ shelf }}">
              <h5 class="mb-0">
                <button style=".collapse" class="btn btn-success btn-block pl-0" data-toggle="collapse" data-target="#collapse{{ shelf }}"  aria-controls="collapse{{ shelf }}">
                {{ shelf }}
                </button>
              </h5>
            </div>
            <!--Info section-->
            <div id="collapse{{ shelf }}" class="collapse {% if shelves[shelf]|length > 0%}show{% endif %}" aria-labelledby="heading{{ shelf }}" data-parent="#accordion">
              <div class="card-body mt-3 ml-4">
                <!-- <div class="border-bottom mr-3 mb-1 pb-1 pt-0">-->
                  <!-- <a>Items:</a>-->
                <!-- </div>-->
                <ul>
                  {% if shelves[shelf]|length < 1%}
                       <li>This shelf is empty</li>
                   {% endif %}
                  {% for ingredient in shelves[shelf] %}
                      <li>{{ ingredient }} <i style="font-size: 14px;">{{ shelves[shelf][ingredient].value }} {{ shelves[shelf][ingredient].unit.lower() }}{% if shelves[shelf][ingredient].value != 1 %}s{% endif %}</i></li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>
        {% endfor %}
        </div>
        {% endif %}
    </div>
{% endblock content %}

