{% extends 'layout.html' %}
{% block content %}
<!--<h1 class="mb-3">Recipe:</h1>-->
<article class="media content-section">
{#  <!--<img class="rounded-circle article-img mt-2" src="{{ url_for('static', filename='profile_pics/' + recipe.author.image_file) }}">-->#}
  <div class="media-body mb-2 pl-2">
    <div class="article-metadata mb-3 pb-1">
      <h2 itemprop="name" style="display:inline" class="article-title mb-0 mt-2">{{ recipe.title }}</h2>
      {% if recipe.author == current_user %}
        <div style="float:right;">
{#          {% if current_user.pro %}#}
{#            <a href="{{ url_for('recipes.publify_recipe', recipe_id=recipe.id) }}" style="float:right; color:white;" class="btn btn-secondary btn-sm ml-1 mt-2">Make Public</a>#}
{#          {% endif %}#}
          <button style="float:right" type="button" class="btn btn-outline-danger btn-sm ml-1 mt-2" data-toggle="modal" data-target="#deleteModal">Delete</button>
          <a href="{{ url_for('recipes.update_recipe', recipe_id=recipe.id) }}" style="float:right" class="btn btn-outline-info btn-sm mt-2">Update</a>
        </div>
      {% else %}
        <div style="float:right">
          <a href="{{ url_for('recipes.recipe_download', recipe_id=recipe.id) }}" class="btn btn-success btn-sm mt-2 ml-1" style="float:right; color: white;">Download Recipe</a>
          <form method="POST" action="" enctype="multipart/form-data" style="float:right">
            {% if borrowed %}
              <button class="btn btn-info btn-sm mt-2 ml-1" style="float:right">Unborrow</button>
            {% else %}
              <button class="btn btn-outline-info btn-sm mt-2 ml-1" style="float:right">Borrow Recipe</button>
            {% endif %}
          </form>
        </div>
      {% endif %}
        <div class="row">
            <small class="text-muted pl-3 col-12">{{ recipe.date_created.strftime('%Y-%m-%d') }}</small>
        </div>
    </div>

   {% set ingredients = recipe.quantity.keys() %}
   <h4 class="mb-2 pb-1">Ingredients:</h4>
    <ul class="pb-1">
      {% for item in ingredients %}
        <li itemprop="recipeIngredient" class="groceries">{{ item }} <i style="font-size: 14px;">{{ recipe.quantity[item][0] }} {{ recipe.quantity[item][1] }}{% if recipe.quantity[item][0] != '1' %}s{% endif %}</i></li>
      {% endfor %}
    </ul>
    <h4 class="mb-2 pb-1">Notes:</h4>
      <div itemprop="recipeInstructions" class="pl-4">
        {% if recipe.notes is defined and recipe.notes!= '' and recipe.notes != None %}
          {% set notes = recipe.notes.split('\n') %}
          {% for block in notes %}
            <p>{{ block }}</p>
          {% endfor %}
        {% else %}
          <p>There are no notes yet.</p>
        {% endif %}
     </div>
  </div>
</article>

<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Permanently Delete Recipe?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <form action="{{ url_for('recipes.delete_recipe', recipe_id=recipe.id) }}" method="POST">
          <input class="btn btn-danger" type="submit" value="Delete">
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock content %}

