{% extends 'layout.html' %}
{% block content %}
<div class="mb-4">
    <h1 style="display: inline" class="">Your {{ title }}</h1>
    {#<a style="display: inline; float:right" class="btn btn-sm btn-outline-info mt-2" href="{{ url_for('aisles.new_aisle') }}">New Aisle</a>#}
    {% if current_user.recipes|length <=80 %}  <!--If user has less than max recipes-->
      <a style="display: inline; float:right" class="btn btn-sm btn-info mt-3" href="{{ url_for('recipes.new_recipe') }}">New Recipe</a>
    {% else %}
      <a style="display: inline; float:right" class="btn btn-sm btn-info mt-3" href="{{ url_for('users.account') }}">Upgrade</a>
    {% endif %}
</div>

{% if current_user.is_authenticated %}
<!--&lt;!&ndash;Drop down menu search bar&ndash;&gt;-->
<!--<form action="{# url_for('recipes.recipes_search') #}" method="POST">-->
<!--    <div class="input-group mb-3">-->
<!--        <div class="input-group-prepend">-->
<!--            <button class="input-group-text" for="inputGroupSelect01">Select</button>-->
<!--        </div>-->
<!--        <select class="custom-select" id="inputGroupSelect01" name="search">-->
<!--                <option selected>Recipe Options</option>-->
<!--            {#% for recipe in search_recipes %#}-->
<!--                <option value="{#{ recipe.title }#}">{#{ recipe.title }#}</option>-->
<!--            {#% endfor %#}-->
<!--        </select>-->
<!--    </div>-->
<!--</form>-->
  <!--Search bar with button-->
  <div style="margin-bottom: 15px;">
    <form action="{{ url_for('recipes.recipes_search') }}" method="POST">
      <div class="input-group flex-nowrap">
          {% if friends is defined %}{% set search_str = "Recipe Name" %}{% else %}{% set search_str = "Recipe Name" %}{% endif %}
          <input type="text" class="form-control" placeholder="{{ search_str }}" name="search">
        <div class="input-group-prepend">
          <button class="input-group-text" id="addon-wrapping">Search</button>
        </div>
      </div>
    </form>
  </div>
<div class="row p-0 mx-0 mb-1">
  {% if title == 'Friend Recipes' %}
    <a class="col-4 m-0 p-0 btn btn-sm btn-success" style="border-radius:0" href="{{ url_for('recipes.recipes_page') }}">Your Recipes</a>
  {% else %}
    <a class="col-4 m-0 p-0 btn btn-sm btn-success" style="border-radius:0" href="{{ url_for('recipes.friend_recipes') }}">Friend Recipes</a>
  {% endif %}
  <a class="col-4 m-0 p-0 btn btn-sm btn-success" style="border-radius:0" href="{{ url_for('recipes.public_recipes') }}">Public Recipes</a>
  <a class="col-4 m-0 p-0 btn btn-sm btn-success" style="border-radius:0" href="{{ url_for('recipes.friend_feed') }}">Friend Feed</a>
</div>
{% endif %}
{% if cards is not defined or cards|length < 1 %}
  <div class="card mt-4 mb-2">
    <div class="card-header p-0" id="headingMenu">
      <h5 class="mb-0">
        <button style=".collapse" class="btn btn-light btn-block" data-toggle="collapse" data-target="#collapseMenu"  aria-controls="collapseMenu">
         {% if current_user.is_authenticated %}
          {% if public is defined%}{% set empty_message, from_empty = 'No recipes have been posted publicly yet.', url_for('recipes.new_recipe')%}{% elif friends is defined%}{% set empty_message, from_empty = 'No friend recipes have been posted yet.', url_for('recipes.recipes_page')%}{% else %}{% set empty_message, from_empty = 'You have no recipes yet. Click to add a recipe.', url_for('recipes.new_recipe')%}{% endif %}
           <a style="text-decoration:none; color: grey;" href="{{ from_empty }}">{{ empty_message }}</a>
         {% else %}
           <a style="text-decoration:none; color: grey;" href="{{ url_for('users.auth_login') }}">You have no recipes yet. Login to add a recipe.</a>
         {% endif %}
        </button>
      </h5>
    </div>
  </div>
{% else %}
  <div class="row mx-1 my-0 py-0">
    {% if friends is not defined %}
      <p class="text-muted my-2 pb-0" style="float: left;">You have {{ search_recipes|length }} recipe(s)</p>
    {% else %}
      <p class="text-muted my-2 pb-0" style="float: left;"></p>
    {% endif %}
    <button class="btn btn-sm btn-secondary mb-2 col-12 d-sm-block d-md-none" style="float: right;" onClick="document.getElementById('tool').scrollIntoView();">{%if current_user.pro%}Go to Harmony Tool{%else%}Go to Bottom{%endif%}</button>
  </div>
  <!--Recipe cards-->
  {% for recipe in cards %}
    <!--style="border-right:solid 20px #9C1A1C;"-->
    <article class="media content-section callout mt-0" style="border-right-color:{{ colors[recipe.recipe_type] }};">
      <!--Add/remove to menu buttons-->
      {% if recipe.user_id == current_user.id %}  <!-- This is your recipe -->
        {% if recipe.in_menu %}
          <button class="btn btn-success btn-sm mt-3 updateButton" r_id="{{ recipe.id }}" value="{{ recipe.id }}">Menu</button>
        {% else %}
          <button class="btn btn-light btn-sm mt-3 updateButton" r_id="{{ recipe.id }}" value="{{ recipe.id }}">Menu</button>
        {% endif %}
      {% else %} <!--Not your recipe-->
        {% if friends is defined %}  <!--Looking at Friend Recipes page-->
            {% if borrows[recipe.id] is defined %}  <!-- if recipe has User_Rec entry -->
              {% if borrows[recipe.id] %}
                {% set borrow_button = 'info' %}
              {% else %}
                {% set borrow_button = 'light' %}
              {% endif %}
              <button class="btn btn-{{borrow_button}} btn-sm mt-3 borrowButton" r_id="{{ recipe.id }}" value="{{ recipe.id }}">Borrow</button>
            {% else %}
              <button class="btn btn-light btn-sm mt-3 borrowButton" r_id="{{ recipe.id }}" value="{{ recipe.id }}">Borrow</button>
            {% endif %}
        {% else %}
          {% if borrows[recipe.id] %}
            <button class="btn btn-success btn-sm mt-3 updateButton" r_id="{{ recipe.id }}" value="{{ recipe.id }}">Menu</button>
          {% else %}
            <button class="btn btn-light btn-sm mt-3 updateButton" r_id="{{ recipe.id }}" value="{{ recipe.id }}">Menu</button>
          {% endif %}
        {% endif %}
      {% endif %}
      <div class="media-body ml-4">
        <div class="article-metadata">  <!--article-metadata-->
          {% if friends is defined%}
            <div class="text-muted" style="float: right">@{{friend_dict[recipe.user_id].username}}</div>
          {% elif recipe.user_id != current_user.id %}
            <div class="text-muted" style="float: right">Borrowed from: {{friend_dict[recipe.user_id].username}}</div>
          {% endif %}
          <a style="font-size: 18px;" class="mr-2" href="{{ url_for('recipes.recipe_single', recipe_id=recipe.id) }}">{{ recipe.title }}</a>
        </div>
        <p class="article-content mt-2 mb-2">{{ recipe.quantity|join(', ') }}</p>
      </div>
    </article>
  {% endfor %}
{% endif %}
<button class="btn btn-sm btn-secondary mb-4 col-12" id="tool" style="float: right;" onClick="document.getElementById('top').scrollIntoView();">Go to Top</button>
{% endblock content %}

