{% extends 'layout.html' %}
{% block content %}
<div class="content-section mb-5">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <h3 class="border-bottom mb-3">{{ legend }}</h3>
{#            <h3>Important: after importing do not change the order or number of ingredients so that the order of the quantity and units#}
{#                for each ingredient is preserved.</h3>#}
            <!--Link-->
            <div class="form-group">
                {{ form.link.label(class="form-control-label") }}
                {% if form.link.errors %}
                    {{ form.link(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.link.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.link(class="form-control form-control-lg") }}
                {% endif %}
            </div>
        </fieldset>
        <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
        </div>
    </form>
</div>
{% endblock content %}