{% extends 'layout.html' %}
{% block content %}
<article class="media content-section">
{#  <!--<img class="rounded-circle article-img mt-2" src="{{ url_for('static', filename='profile_pics/' + recipe.author.image_file) }}">-->#}
  <div class="media-body mb-2 pl-2">
    <div class="article-metadata mb-3 pb-3">
      {% if recipe.in_menu %}
        {% if recipe.eaten %}
          {% set text = "Didn't eat yet" %}
          {% set class_ = "btn-outline-secondary" %}
        {% else %}
          {% set text = "I ate this" %}
          {% set class_ = "btn-outline-success" %}
        {% endif %}
        <button class="btn {{class_}} btn-md mt-2 ml-1 eatenSingleButton" e_id={{recipe.id}} style="float:right" type="button">{{ text }}</button>
      {% endif %}
      {% if recipe.author == current_user %}
      <div class="row article-title ml-1" style="float:right">
        <button class="btn btn-outline-danger btn-md ml-1 mr-1 mt-2" style="float:right" type="button" data-toggle="modal" data-target="#deleteModal">Delete</button>
        <a class="btn btn-outline-info btn-md mt-2 ml-1 mr-3"  href="{{ url_for('recipes.update_recipe', recipe_id=recipe.id) }}">Update</a>
      </div>
    {% else %}
      <div style="float:right">
        {% if borrow.in_menu %}
          {% if borrow.eaten %}
            {% set text = "Didn't eat yet" %}
            {% set class_ = "btn-outline-secondary" %}
          {% else %}
            {% set text = "I ate this" %}
            {% set class_ = "btn-outline-success" %}
          {% endif %}
          <button class="btn {{class_}} btn-md mt-2 ml-1 eatenSingleButton" e_id={{recipe.id}} style="float:right" type="button">{{ text }}</button>
      {% endif %}
        <a href="{{ url_for('recipes.recipe_download', recipe_id=recipe.id) }}" class="btn btn-success btn-md mt-2 ml-1" style="float:right; color: white;">Download Recipe</a>
        <form method="POST" action="" enctype="multipart/form-data" style="float:right">
          {% if borrowed %}
            <button class="btn btn-info btn-md mt-2 ml-1" style="float:right">Unborrow</button>
          {% else %}
            <button class="btn btn-outline-info btn-md mt-2 ml-1" style="float:right">Borrow Recipe</button>
          {% endif %}
        </form>
      </div>
    {% endif %}

      <h2 itemprop="name" class="m-0">{{ recipe.title }}</h2>
    </div>
   {% set ingredients = recipe.quantity.keys() %}
   <h4 class="mb-2 pb-1">Ingredients:</h4>
    <ul class="pb-1">
      {% for item in ingredients %}
        <li itemprop="recipeIngredient" class="groceries">{{ item }} <i style="font-size: 14px;">{{ recipe.quantity[item][0] }} {{ recipe.quantity[item][1] }}{% if recipe.quantity[item][0] != '1' %}s{% endif %}</i></li>
      {% endfor %}
    </ul>
    <h4 class="mb-2 pb-1">Notes:</h4>
      <div itemprop="recipeInstructions" class="pl-4">
        {% if recipe.notes is defined and recipe.notes!= '' and recipe.notes != None %}
          {% set notes = recipe.notes.split('\n') %}
          {% for block in notes %}
            <p>{{ block }}</p>
          {% endfor %}
        {% else %}
          <p>There are no notes yet.</p>
        {% endif %}
     </div>
  <!-- <button style="float:right" type="button" class="btn btn-outline-success btn-block ml-1 mt-2 mr-1" data-toggle="modal" data-target="#eatModal">I made this!</button> -->
  </div>
</article>

<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Permanently Delete Recipe?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <form action="{{ url_for('recipes.delete_recipe', recipe_id=recipe.id) }}" method="POST">
          <input class="btn btn-danger" type="submit" value="Delete">
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock content %}

