{% extends 'layout.html' %}
{% block content %}
<div class="content-section mb-5">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <h3 class="border-bottom mb-4">{{ legend }}</h3>
            <div class="form-inline form-row mb-3">
              <div class="col">Ingredient Name</div>
              <div class="col">Quantity</div>
              <div class="col">Measurement</div>
            </div>
            {% set index = namespace(value=0) %}
            {% for input_form in form.ingredient_forms %}
                {% if input_form.ingredient_quantity.errors %}
                    {% set error = ['mt-0','margin: 0 0 23px 0', 'margin: 0 0 30px 0'] %}
                {% else %}
                    {% set error = '' %}
                {%endif%}
                <div class="form-inline form-row mb-3">
                    <h5 class="col" style="{{error[2]}}">{{ form.ingredients[index.value] }}</h5>
{#                  <div class="col" style="{{error[2]}}">{{ input_form.ingredient_name(class="form-control") }}</div>#}
                    {# Instead of an h5 have this the ingredient name from prev page but allow edits, take this as name #}
{#                  <div class="col">#}
{#                      {{ input_form.ingredient_name(class="form-control") }}#}
{#                  </div>#}
                    {{ input_form.csrf_token }}
                    {% if input_form.ingredient_quantity.errors %}
                        <div class="col">
                            {{ input_form.ingredient_quantity(class="form-control is-invalid mb-0", placeholder="Enter Quantity") }}
                            <div class="invalid-feedback">
                                {% for error in input_form.ingredient_quantity.errors %}
                                    <span class="">{{ error }}</span>
                                {% endfor %}
                            </div>
                        </div>
                    {% else %}
                        <div class="col">
                            {{ input_form.ingredient_quantity(class="form-control") }}
                        </div>
                    {% endif %}
                    <!--Ingredient Type form-->
                    <div class="col {{error[0]}}" style="{{error[1]}}">
                        {{ input_form.ingredient_type(class="custom-select") }}
                    </div>
                </div>
                {% set index.value = index.value + 1 %}
            {% endfor %}
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-info") }}
        </div>
    </form>
</div>
{% endblock content %}