{% extends 'layout.html' %}
{% block content %}
<h1 class="mb-3">Your Statistics:</h1>
<article class="media content-section">
   <div>
      <h4 class="border-bottom">Harmony Stats</h4>
         <p class="mb-3">Entire Recipe List- {{ harmony }}%
         <br>Average Menu Harmony- {{ avg_harmony }}%</p>
      <h4 class="mt-2">Total Recipe Consumption Frequency Chart </h4>
      <table class="table table-border table-hover table-sm ml-2">
         <tr class="bg-success">
            <th style="color:white">Recipe</th>
            <th style="color:white">Times Eaten</th>
            <th style="color:white">Frequency (/wk)</th>
         </tr>
         {% for item in recipe_history %}
            <tr>
               <td>{{ item[0] }}</td>
               <td>{{ item[1] }}</td>
               <td>{{ item[2] }}</td>
            </tr>
         {% endfor %}
      </table>
      <h4 class="">Ingredient Frequency Chart</h4>
      <table class="table table-border table-hover table-sm ml-2">
         <tr class="bg-success">
            <th style="color:white">Recipe</th>
            <th style="color:white">Times Eaten</th>
            <th style="color:white">Frequency (/wk)</th>
         </tr>
         {% for item in ingredient_count %}
            <tr>
               <td>{{ item[0] }}</td>
               <td>{{ item[1] }}</td>
               <td>{{ item[2] }}</td>
            </tr>
         {% endfor %}
      </table>
      <h4 class="border-bottom">Recipe Pair Frequency</h4>
      <h4 class="border-bottom">Recipe Dimensionality (UMAP)</h4>
      <h4 class="border-bottom">Average Menu Size</h4>
   </div>
</article>
{% endblock content %}

